@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Quicksand:wght@300..700&display=swap');

*{
    font-family: "Quicksand", serif;
    font-size: 18px;
    outline: none;
}

body{
    color: #333; 
}


.filaStyle{
    background-color: white;
    display: flex !important;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.066);
    border: 1px solid rgba(0, 0, 0, 0.064);

}


